@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    scroll-behavior: smooth;
}

.backdrop-blur-lg {
    backdrop-filter: blur(20px);
}

#parallax {
    background-attachment: fixed;
}

#projects .relative {
    overflow: hidden;
}